#dt-length-0 {
    width: 60px !important;
}

.title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: rgba(0, 6, 31, 1);
    padding: 20px;
}

#users-table_wrapper {
    margin-top: 70px;
}

.menu-boton {
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #000f55 !important;
}
.menu-boton {
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #000f55 !important;
}
.justify-items-center {
    justify-items: center !important;
}
